<div class="row">
  <% @chatrooms.each do |chatroom| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag(chatroom.roomcover) %>
      <div class="caption">
        <h3><%= chatroom.roomname %></h3>
        <p><%= sanitize(chatroom.description) %></p>
        <span><li class="fa fa-users"></li> <b><%= chatroom.memnum %></b> Members</span>
        <%= link_to 'JOIN', chatroom %>
      </div>
    </div>
  </div>
  <% end %>
</div>