<div class="row">
  <% @chatrooms.each do |chatroom| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag(chatroom.roomcover) %>
      <div class="caption">
        <h3><%= chatroom.roomname %></h3>
        <p><%= sanitize(chatroom.description) %></p>
        <p><%= chatroom.memnum %> PEOPLE</p>
        <% chatroom.tags.each do |tag|  %>
        <p> <%= tag.tagname %> </p>
        <% end  %>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        <%= link_to '查看', chatroom %>
      </div>
    </div>
  </div>
  <% end %>
</div>