<h1>聊天室一览</h1>

<table class="table">
  <thead>
    <tr>
      <th>封面</th>
      <th class="name">聊天室</th>
      <th>类型</th>
      <th>流行度</th>
      <th>人数</th>
      <th>房间号</th>
      <th class="name">创建人</th>
      <th class="name">创建时间</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="content">
    <% @chatrooms.each do |chatroom| %>
      <tr>
        <td class="cover"><%= image_tag(chatroom.roomcover) %></td>
        <td class="name"><%= chatroom.roomname %></td>
        <td><%= chatroom.privacy %></td>
        <td><%= chatroom.popularity %></td>
        <td><%= chatroom.memnum %></td>
        <td><%= chatroom.roomno %></td>
        <td class="name"> <%= User.find(chatroom.user_id).username %> </td>
        <td class="name"><%= time_ago_in_words chatroom.created_at %></td>
        <td><%= link_to '查看', chatroom %></td>
        <td><%= link_to '编辑', edit_chatroom_path(chatroom) %></td>
        <td><%= link_to '删除', chatroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
          <td><%= sanitize(chatroom.description) %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user %>
  <%= link_to '新建聊天室', new_chatroom_path %>
<% end %>