<h1>好友列表</h1>

<table>
  <thead>
    <tr>
      <th class="name">头像</th>
      <th>id</th>
      <th>性别</th>
      <th>手机号</th>
      <th>状态</th>
      <th>最近登录</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @has_friends.each do |item| %>
      <tr>  
        <td class="pic"><%= image_tag(item.friend.avatar) %></td>
        <td><%= link_to item.friend.username, showuser_path(item.friend.id) %></td>
        <td><%= item.friend.gender %></td>
        <td><%= item.friend.phone %></td>
        <td><%= item.friend.status %></td>
        <td><%= item.friend.updated_at %></td>
        <td><%= link_to '站内信', "#" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<td><%= link_to '修改个人信息', user_path %></td> |	
<td><%= link_to '回到外婆桥', :root %></td>

