<div class="home-banner" >
	<div class="container">
		<div>
		<% if current_user %>
			<li><%= link_to current_user.username, home_path %></li>
			<li><%= link_to "logout", logout_path, method: "delete" %></li>
			<% else %>
			<li><%= link_to "login", login_path %></li>
			<li><%= link_to "signup", signup_path %></li>
		<% end %>
		</div>
		<div class="search box">
			<div>
		    <%= form_tag search_id_path do %>
		    <dl>
		      <dt> 
		       	<%= text_field_tag :id, params[:id] %> 
	       	 	<%= submit_tag "搜索",  :class => "login-button btn btn-primary" %> 
		      </dt>
		    </dl>
		    <% end %>
			</div>
		</div>
	</div>
</div>

