<div class="bs-header">
  <div class="container">
    <h1> 我发送的站内信</h1>
  </div>
</div>
<div class="container">
  <div class="content">
	<%= render partial: 'message/send', locals: {send_msgs: @send_msgs} %>
  </div>
  <div class="direct_to">
  	<td><%= link_to '首页', sendmsg_path('first') %></td>
  	<td><%= link_to '上一页', sendmsg_path('-10') %></td>
  	<td><%= link_to '回到外婆桥', home_path %></td>
  	<td><%= link_to '下一页', sendmsg_path('10') %></td>
  	<td><%= link_to '尾页', sendmsg_path('last') %></td>
  </div>
</div>