<!DOCTYPE html>
<html>
<head>
  <title>Cloudchat</title>
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if params[:controller]=='chatapp' %>
  	<link rel="stylesheet" type="text/css" href="public/stylesheets/widgets.css">
  <% end %>
</head>
<body class="<%= params[:controller] + '-' + params[:action] %>">
	<%= yield %>
</body>
</html>